.card-matching-page-container {
   max-width: 1080px;
   margin: 0 auto;
   .cards-list {
      display: flex;
      flex-wrap: wrap;
   }
   .winner-text {
      font-size: 64px;
      font-weight: bold;
   }
}
