.app {
   padding: 16px;
   text-align: center;
   .return-home-btn {
      height: 40px;
      width: 100%;
      max-width: 300px;
      background-color: #19bbb3;
      border: 1px solid #19bbb3;
      color: #fff;
      font-size: 18px;
      padding: 8px 16px;
      margin: 24px auto;
   }
   .start-custom-game-btn {
      margin: 24px 0px 24px 16px;
   }
   .start-custom-game-btn:disabled {
      opacity: 0.4;
   }
   .start-custom-game-btn,
   .play-again-btn {
      height: 40px;
      width: 100%;
      max-width: 300px;
      background-color: #bb8819;
      border: 1px solid #bb8819;
      color: #fff;
      font-size: 18px;
      padding: 8px 16px;
   }
   .play-again-btn {
      margin: 0px 16px 0px 0px;
   }
   .created-cards-list-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
      .card {
         cursor: unset;
      }
   }
   button {
      cursor: pointer;
   }
}
